.nav__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--color-grey-light-1);
  transition: all 0.3s;

  &-active {
    color: var(--color-light);
  }
}

.heading-1 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  font-size: 7rem;
  line-height: 76px;
  text-transform: capitalize;
  background: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
