.banner__area {
  padding-top: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.5rem;

  &-img {
    position: relative;
    &:after {
      content: url(../../Assets/Dark-Gradient-1.png);
      position: absolute;
      width: 752px;
      height: 752px;
      left: -488px;
      top: -92px;
      filter: blur(154.429px);
      z-index: -1;
    }
  }

  &-text {
    width: 40.5rem;

    .paragraph {
      font-size: 1.6rem;
      color: var(--color-grey-light-1);
      line-height: 2.8rem;
      width: 40.5rem;
    }

    .download-links {
      display: flex;
      gap: 2.4rem;
    }
  }
}

.company__info {
  margin-top: 12.367rem;
  background: rgba(52, 33, 52, 0.5);
  backdrop-filter: blur(26px);
  border-radius: 36px;

  &-box {
    padding: 5rem 5.5rem 5rem 6.3rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    text-align: center;
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .number {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 56px;

      background: var(--color-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .paragraph {
      font-size: 2rem;
      line-height: 24px;
    }
  }
}

.about {
  margin-top: 27.3rem;

  &__box {
    margin-top: 9.1rem;
    background: rgba(52, 33, 52, 0.5);
    backdrop-filter: blur(26px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 36px;

    display: flex;

    &-info {
      &:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.18);
      }

      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 5rem 3rem 8.6rem 3rem;

      .about__icon-box {
        width: 8rem;
        height: 8rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;

        display: grid;
        place-items: center;

        img {
          width: 3.2rem;
          height: 4rem;
        }
      }

      .about-heading {
        margin-top: 1.2rem;

        font-family: "Clash Display";
        font-style: normal;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 36px;
        color: var(--color-light);
      }

      .paragraph {
        width: 24rem;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 24px;

        color: var(--color-grey-light-1);
      }
    }
  }
}

.feature {
  margin-top: 20.7rem;

  &__container {
    margin-top: 16.4rem;

    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // align-items: center;
    // row-gap: 12.8rem;
    // column-gap: 4.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12.8rem;

    &-info {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 4.8rem;
    }
  }

  &__img-box {
    width: 68rem;
    background: rgba(52, 33, 52, 0.5);
    border-radius: 36px;

    display: grid;
    place-items: center;
  }

  &__content {
    align-self: start;
    width: 47.2rem;

    .catagory {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1.6rem;
      margin-top: 2rem;

      .item {
        background: rgba(52, 33, 52, 0.4);
        border-radius: 42px;
        line-height: 28px;
        color: #707070;
        padding: 0.6rem 1.6rem;
      }
    }

    p {
      margin-top: 4rem;
    }
  }
}
